body {
    font-family: "Nunito Sans", sans-serif;
}
header, #search-bar, #card-holder {
    display: flex;
    justify-content: space-between;
    margin: 10px 60px;
}
header h1 {
    font-size: 1.25rem;
    font-weight: 800;
}
main {
    background-color: hsl(0, 0%, 99%);
}