body {
    font-family: "Nunito Sans", sans-serif;
    background-color: hsl(0, 0%, 99%);
    color: hsl(200, 15%, 8%);
}

body.dark-mode, input.dark-mode, select.dark-mode, card.dark-mode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}


main.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

#header-container {
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}


header {
    margin: 20px 60px;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 800;
}

main {
    background-color: hsl(0, 0%, 99%);
}

#search-bar {
    margin: 35px 60px;
    padding: 20px 0px 8px;
}

input {
    padding: 15px 20px;
    background-color: hsl(0, 0%, 99%);
    font-size: .8rem;
    min-width: 200px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

select {
    padding: 15px 30px 15px 20px;
    background-color: hsl(0, 0%, 99%);
    font-size: .8rem;
    font-weight: 300;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#card-holder {
    margin: 50px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    min-width: 16rem;
    max-width: 20rem;
    max-height: 40rem;
    margin: 10px 0px;
}

.card-body h2 {
    font-size: 1.1rem;
    font-weight: 800;
    padding: 10px;
}

.card-body p {
    font-size: .82rem;
    line-height: .6;
    font-weight: 800;
}

.text {
    font-weight: 500;
}

.big-display {
    display: flex;
    flex-direction: row;
}

#display-body {
    margin: 20px 0px 5px 110px;
}

.big-display img {
    min-width: 600px;
    height: auto;
}

.big-display h2 {
    font-weight: 800;
    margin-bottom: 35px;
}

.big-display p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
}

.big-display span {
    font-weight: 400;
}

#text-row {
    margin-bottom: 60px;
}

#borders {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#borders p {
    justify-self: center;
    padding-top: 8px;
    margin-right: 10px;
}

#back-button, .new-country {
    background-color: hsl(0, 0%, 99%);
    font-size: 1rem;   
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); 
}

#back-button {
    padding: 8px 35px;
    margin: 10px 0px;
}

.new-country {
    padding: 0px 10px;
    min-width: 6rem;
    max-height: 2rem;
}