body {
    font-family: "Nunito Sans", sans-serif;
}
header, #search-bar, #card-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    margin: 20px 40px;
}
header h1 {
    font-size: 1.25rem;
    font-weight: 800;
}
main {
    background-color: hsl(0, 0%, 99%);
}
#search-bar {
    margin: 20px 40px;
    padding: 20px 0px 8px;
}
input {
    padding: 15px 20px;
    background-color: white;
    border: none;
    font-size: .8rem;
    min-width: 200px;
}
select {
    padding: 30px 30px;
}
#card-holder {
    margin: 5px 40px;
}
.card {
    width: 16rem;
}
.card-body h2 {
    font-size: 1rem;
    font-weight: 800;
    padding: 10px; 2px;
}
.card-body p {
    font-size: .8rem;
    line-height: .75;
}