body {
    font-family: "Nunito Sans", sans-serif;
    background-color: hsl(0, 0%, 99%);
    color: hsl(200, 15%, 8%);
}

body.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 100%, 100%);
}

header.dark-mode,
input.dark-mode,
select.dark-mode,
.card.dark-mode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}


header,
input,
select,
.card {
    background-color: hsl(0, 100%, 100%);
}

header {
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#header-container {
    margin: 30px 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-container h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

#search-bar {
    margin: 50px 60px 40px;
    display: flex;
    justify-content: space-between;
}

input {
    padding: 20px 20px;
    min-width: 30rem;
    font-size: .8rem;
    color: hsl(200, 15%, 8%);
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

select {
    padding: 20px 30px 20px 20px;
    font-size: .8rem;
    font-weight: 300;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#card-holder {
    margin: 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 90px;
}

.card {
    min-width: 16rem;
    max-width: 17rem;
    max-height: 40rem;
    margin: 10px 0px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.card-body {
    margin-bottom: 20px;
}

.card img {
    border-bottom: 1px solid transparent;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.card-body h2 {
    font-size: 1.1rem;
    font-weight: 800;
    padding: 15px 10px 18px;
}

.card-body p {
    font-size: .9em;
    line-height: .7;
    font-weight: 800;
    padding: 0 0 0 10px;
}

.text {
    font-weight: 500;
}

.big-display {
    display: flex;
    margin: 30px 0 150px 0;
    max-width: 1440px;
}

#display-body {
    margin: 20px 0px 5px 110px;
}

.big-display img {
    min-width: 600px;
    height: auto;
}

.big-display h2 {
    font-weight: 800;
    margin-bottom: 35px;
}

.big-display p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
}

.big-display span {
    font-weight: 400;
}

#text-row {
    margin-bottom: 60px;
    display: flex;
}

#text-row div {
    width: 50%;
}

#borders {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

#borders p {
    justify-self: center;
    padding-top: 8px;
    margin-right: 10px;
}

#back-button,
.new-country {
    background-color: hsl(0, 0%, 99%);
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#back-button {
    padding: 9px 35px;
    margin: 10px 0px;
}

.new-country {
    padding: 0px 10px;
    min-width: 6rem;
    max-height: 2rem;
}

@media (max-width: 501px) {
    #search-bar {
        flex-direction: column;
    }
}